header{
    display: flex;
    justify-content: center;
    gap: 35px;
}
header button{
    margin-top: 20px;
    font-size: 17px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    margin-left: 200px;
    font-weight: bold;
    transition: 0.4s ease-in-out !important;
    background-color: rgb(181, 103, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header  button:hover{
    color: rgb(39, 39, 39); 
    background-color: rgb(194, 144, 224);
    transform: translate(3px);
}
header a{
    padding-top: 20px;
    font-size: 22px;
    text-decoration: none;
  color: black;
}
header h2{
    margin-top: 20px;
    margin-right: 200px;
    font-size: 28px;
}
body{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
   
     justify-content: center;
     gap: 100px;
}
.b1{
    font-size: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(181, 103, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.4s ease-in-out !important;
}
.b1:hover{
    color: rgb(39, 39, 39); 
    background-color: rgb(194, 144, 224);
    transform: translate(3px);
}
.b2{
    font-size: 15px;
    padding: 8px 20px;
    border: 1px solid;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 9px;
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b2:hover{
    background-color: rgb(208, 208, 208);
    color: rgb(39, 39, 39);
    transform: translate(3px);
}
.we h1{
    font-size: 75px;
}
span{
    color: #ad5ce0;
}
.we p{
    font-size: 20px;
    
}
.statistics{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
    margin-top: 80px;
}
.statistics div{
    border: 1px solid #ad5ce0 ;
    border-radius: 10px;
    padding: 10px 30px;
    width: 6cm;
    height: 4cm;
}
.hero{
    display: flex;
    justify-content: center;
    gap: 300px;
}
.featured{
 display: flex;
 gap: 80px;
 justify-content: center;
 margin-top: 50px;
}
.featured div{
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}
.featured img{
    border-radius: 8px;
}
.Idea div{
  background-color:  rgb(242, 219, 255);
  padding: 1px 250px 10px;
  text-align:center ;
  border-radius: 15px;
}
.Idea button{
 font-size: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(181, 103, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.4s ease-in-out !important;
}
.Idea button:hover{
    color: rgb(39, 39, 39); 
    background-color: rgb(194, 144, 224);
    transform: translateY(-3px);
}
.Idea{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.VOID{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}
.our{
    text-align: center;
    margin-bottom: 40px;
}
.whatwedo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.whatwedo div{
    border: 1px solid rgb(198, 198, 198);
    padding: 25px 110px 15px 60px;
    border-radius: 10px;
    width: 8cm;
    height: 7cm;
}
.WEARE{
    display: flex;
    gap: 150px;
    margin-top: 60px;
    justify-content: center;
}
.WEARE h1{
    font-size: 50px;
    margin-top: 55px;
}
.WEARE p{
    font-size: 19px;
}
.WEARE img{
    border-radius: 10px;
}
.TEAM{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content:center ;
}
.TEAM img{
    border-radius: 10px;
}
.VALUES{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    gap: 70px;
    margin-bottom: 50px;
}
.VALUES div{
    border: 1px solid #ad5ce0;
    padding: 10px 130px 0px 40px;
    border-radius: 10px;
}
.Contact{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 180px;
}
.lets{
    font-size: 22px;
}
input{
    padding: 15px 40px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ad5ce0;
}
#company{
    padding: 15px 169px;
}
#project{
    padding: 15px 80px;
     border: 1px solid #ad5ce0;
     color: #ad5ce0;
}
#budget{
     padding: 15px 94px;
     margin-top: 15px;
      border: 1px solid #ad5ce0;
      color: #ad5ce0;
}
#message{
    margin-top: 15px;
     border: 1px solid #ad5ce0;
}
#submit{
     padding: 15px 190px;
     background-color: #ad5ce0;
     font-weight: bold;
     font-size: 18px;
     border: none;
}
.send{
    margin-top: 50px;
}
::placeholder{
    color: #ad5ce0;
    text-align: center;
}
